<header>
    <nav>
      <a href="/">Home</a>
      <a href="/pre-internet">Pre-Internet</a>
      <a href="/internet-development">Internet Development</a>
      <a href="/web-1-0">Web 1.0</a>
      <a href="/web-2-0">Web 2.0</a>
    </nav>
  </header>  