<header id="top-bar">
  <div class="container">
      <h1>The Digital Archive</h1>
      <nav>
          <!-- Hamburger Icon -->
          <div class="hamburger" id="hamburger">
              <span></span>
              <span></span>
              <span></span>
          </div>

          <!-- Navigation Links -->
          <ul class="nav-links" id="nav-links">
              <li><a href="/git">Git</a></li>
              <li><a href="/linux">Linux</a></li>
              <li><a href="/pre-internet">Pre-Internet Era</a></li>
              <li><a href="/internet-development">Internet Development</a></li>
              <li><a href="/web-1-0">Web 1.0</a></li>
              <li><a href="/web-2-0">Web 2.0</a></li>
          </ul>
      </nav>
  </div>
</header>